<body class="html front not-logged-in page-node page-node- page-node-169 node-type-page fullscreen-project-page">
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Passer et aller au contenu du site</a>
  </div>
  <div class="region region-page-top" id="region-page-top">
  	<div class="region-inner region-page-top-inner"></div>
	</div>
	<div class="page clearfix" id="page">
  	<%= render 'layouts/header' %>
		<section id="section-content" class="section section-content">
		  <div id="zone-content-wrapper" class="zone-wrapper zone-content-wrapper clearfix">  
		  	<div id="zone-content" class="zone zone-content clearfix container-12">
	        <div class="grid-12 region region-content" id="region-content">
					  <div class="region-inner region-content-inner">
					    <a id="main-content"></a>
              <h1 class="title" id="page-title">TOM <span id="page-and">&</span> SO</h1>
              <div class="block block-block loader block-2 block-block-2 odd block-without-title" id="block-block-2">
								<div class="block-inner clearfix">
              		<div class="content clearfix">
    								<p></p>
							    </div>
							  </div>
							</div>
						</div>
					</div>
					<aside class="grid-12 region region-sidebar-second" id="region-sidebar-second">
						<div class="region-inner region-sidebar-second-inner"></div>
					</aside>
				</div>
			</div>
		</section>    
	</div>
</body>