<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"studioisle","theme_token":"nfOXIWzCK5HJGjLy47s-mTOU_LNmWl1OgabsuachE40","js":{"misc\/jquery.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"sites\/all\/libraries\/flexslider\/jquery.flexslider-min.js":1,"sites\/all\/libraries\/colorbox\/jquery.colorbox-min.js":1,"sites\/all\/modules\/colorbox\/js\/colorbox.js":1,"sites\/all\/modules\/colorbox\/js\/colorbox_load.js":1,"sites\/all\/modules\/colorbox\/js\/colorbox_inline.js":1,"sites\/all\/modules\/lightbox2\/js\/lightbox_video.js":1,"sites\/all\/modules\/lightbox2\/js\/lightbox.js":1,"sites\/all\/modules\/google_analytics\/googleanalytics.js":1,"0":1,"sites\/all\/modules\/flexslider\/assets\/js\/flexslider.load.js":1,"sites\/all\/themes\/studioisle\/js\/jquery-ui.js":1,"sites\/all\/themes\/studioisle\/js\/imagesloaded.min.js":1,"sites\/all\/themes\/studioisle\/js\/layout.js":1,"sites\/all\/themes\/studioisle\/js\/page.js":1,"sites\/all\/themes\/studioisle\/js\/jquery.tools.js":1,"sites\/all\/themes\/omega\/omega\/js\/jquery.formalize.js":1,"sites\/all\/themes\/omega\/omega\/js\/omega-mediaqueries.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/system\/system.menus.css":1,"modules\/system\/system.messages.css":1,"modules\/system\/system.theme.css":1,"sites\/all\/libraries\/flexslider\/flexslider.css":1,"sites\/all\/modules\/flexslider\/assets\/css\/flexslider_img.css":1,"modules\/comment\/comment.css":1,"modules\/field\/theme\/field.css":1,"modules\/node\/node.css":1,"modules\/search\/search.css":1,"modules\/user\/user.css":1,"sites\/all\/modules\/views\/css\/views.css":1,"sites\/all\/modules\/ctools\/css\/ctools.css":1,"sites\/all\/modules\/lightbox2\/css\/lightbox.css":1,"sites\/all\/themes\/studioisle\/perfect-scrollbar.css":1,"sites\/all\/themes\/omega\/alpha\/css\/alpha-reset.css":1,"sites\/all\/themes\/omega\/alpha\/css\/alpha-mobile.css":1,"sites\/all\/themes\/omega\/alpha\/css\/alpha-alpha.css":1,"sites\/all\/themes\/omega\/omega\/css\/formalize.css":1,"sites\/all\/themes\/omega\/omega\/css\/omega-text.css":1,"sites\/all\/themes\/omega\/omega\/css\/omega-branding.css":1,"sites\/all\/themes\/omega\/omega\/css\/omega-menu.css":1,"sites\/all\/themes\/omega\/omega\/css\/omega-forms.css":1,"sites\/all\/themes\/omega\/omega\/css\/omega-visuals.css":1,"sites\/all\/themes\/studioisle\/css\/global.css":1,"ie::normal::sites\/all\/themes\/studioisle\/css\/studioisle-alpha-default.css":1,"ie::normal::sites\/all\/themes\/studioisle\/css\/studioisle-alpha-default-normal.css":1,"ie::normal::sites\/all\/themes\/omega\/alpha\/css\/grid\/alpha_default\/normal\/alpha-default-normal-12.css":1,"narrow::sites\/all\/themes\/studioisle\/css\/studioisle-alpha-default.css":1,"narrow::sites\/all\/themes\/studioisle\/css\/studioisle-alpha-default-narrow.css":1,"sites\/all\/themes\/omega\/alpha\/css\/grid\/alpha_default\/narrow\/alpha-default-narrow-12.css":1,"normal::sites\/all\/themes\/studioisle\/css\/studioisle-alpha-default.css":1,"normal::sites\/all\/themes\/studioisle\/css\/studioisle-alpha-default-normal.css":1,"sites\/all\/themes\/omega\/alpha\/css\/grid\/alpha_default\/normal\/alpha-default-normal-12.css":1,"wide::sites\/all\/themes\/studioisle\/css\/studioisle-alpha-default.css":1,"wide::sites\/all\/themes\/studioisle\/css\/studioisle-alpha-default-wide.css":1,"sites\/all\/themes\/omega\/alpha\/css\/grid\/alpha_default\/wide\/alpha-default-wide-12.css":1}},"colorbox":{"transition":"none","speed":"500","opacity":"0.85","slideshow":false,"slideshowAuto":true,"slideshowSpeed":"2500","slideshowStart":"start slideshow","slideshowStop":"stop slideshow","current":"","previous":"\u00ab Prev","next":"Next \u00bb","close":"","overlayClose":true,"maxWidth":"98%","maxHeight":"98%","initialWidth":"98%","initialHeight":"98%","fixed":true,"scrolling":false,"mobiledetect":true,"mobiledevicewidth":"480px"},"lightbox2":{"rtl":0,"file_path":"\/(\\w\\w\/)public:\/","default_image":"\/sites\/all\/modules\/lightbox2\/images\/brokenimage.jpg","border_size":10,"font_color":"000","box_color":"fff","top_position":"","overlay_opacity":"0.8","overlay_color":"000","disable_close_click":1,"resize_sequence":0,"resize_speed":400,"fade_in_speed":400,"slide_down_speed":600,"use_alt_layout":0,"disable_resize":0,"disable_zoom":0,"force_show_nav":0,"show_caption":1,"loop_items":0,"node_link_text":"View Image Details","node_link_target":0,"image_count":"Image !current of !total","video_count":"Video !current of !total","page_count":"Page !current of !total","lite_press_x_close":"press \u003Ca href=\u0022#\u0022 onclick=\u0022hideLightbox(); return FALSE;\u0022\u003E\u003Ckbd\u003Ex\u003C\/kbd\u003E\u003C\/a\u003E to close","download_link_text":"","enable_login":false,"enable_contact":false,"keys_close":"c x 27","keys_previous":"p 37","keys_next":"n 39","keys_zoom":"z","keys_play_pause":"32","display_image_size":"original","image_node_sizes":"()","trigger_lightbox_classes":"","trigger_lightbox_group_classes":"","trigger_slideshow_classes":"","trigger_lightframe_classes":"","trigger_lightframe_group_classes":"","custom_class_handler":0,"custom_trigger_classes":"","disable_for_gallery_lists":true,"disable_for_acidfree_gallery_lists":true,"enable_acidfree_videos":true,"slideshow_interval":5000,"slideshow_automatic_start":true,"slideshow_automatic_exit":true,"show_play_pause":true,"pause_on_next_click":false,"pause_on_previous_click":true,"loop_slides":false,"iframe_width":600,"iframe_height":400,"iframe_border":1,"enable_video":1,"flvPlayer":"\/","flvFlashvars":""},"googleanalytics":{"trackOutbound":1,"trackMailto":1,"trackDownload":1,"trackDownloadExtensions":"7z|aac|arc|arj|asf|asx|avi|bin|csv|doc|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls|xml|z|zip"},"flexslider":{"optionsets":{"default":{"animation":"slide","animationDuration":2500,"slideDirection":"horizontal","slideshow":0,"slideshowSpeed":8000,"animationLoop":1,"randomize":0,"slideToStart":0,"directionNav":1,"controlNav":0,"keyboardNav":1,"mousewheel":1,"prevText":"Previous","nextText":"Next","pausePlay":0,"pauseText":"Pause","playText":"Play","pauseOnAction":1,"controlsContainer":".flex-nav-container","manualControls":""}},"instances":{"flexslider-1":"default"}},"omega":{"layouts":{"primary":"normal","order":["narrow","normal","wide"],"queries":{"narrow":"all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape)","normal":"all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape)","wide":"all and (min-width: 1220px)"}}}});
//--><!]]>
</script>

<body class="html not-front not-logged-in page-node page-node- page-node-167 node-type-project fullscreen-project-page context-ett-hem">
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Passer et aller au contenu du site</a>
  </div>
  <div class="region region-page-top" id="region-page-top">
    <div class="region-inner region-page-top-inner"></div>
  </div> 
  <div class="page clearfix" id="page">

    <%= render 'layouts/header' %>
        
    <section id="section-content" class="section section-content">
      <div id="zone-content-wrapper" class="zone-wrapper zone-content-wrapper clearfix">  
        <div id="zone-content" class="zone zone-content clearfix container-12">    
          <div id="breadcrumb" class="grid-12">
            <h2 class="element-invisible">Vous êtes ici</h2>
            <div class="breadcrumb"><a href="/">Accueil</a></div></div>
            <div class="grid-12 region region-content" id="region-content">
              <div class="region-inner region-content-inner">
                <a id="main-content"></a>
                <h1 class="title" id="page-title">BOUTIQUE MAISON FABRE</h1>
                  <div class="block block-block loader block-2 block-block-2 odd block-without-title" id="block-block-2">
                    <div class="block-inner clearfix">
                      <div class="content clearfix">
                        <p>.</p>
                      </div>
                    </div>
                  </div>
                <div class="block block-system block-main block-system-main even block-without-title" id="block-system-main">
                  <div class="block-inner clearfix">
                    <div class="content clearfix">
                      <div class="mobile-menu-container" style="text-align:center;">
                        <div class="close-link" style="position:relative;z-index:100;cursor:pointer;padding:20px 0px;text-align:center;">
                          <img src="http://www.studioilse.com//sites/all/images/close3.png" style="width:20px;height:auto;position:relative;">
                        </div>
                      </div>
                      <article about="/ett-hem" typeof="sioc:Item foaf:Document" class="node node-project node-published node-not-promoted node-not-sticky author-admin odd clearfix" id="node-project-167">
                        <div class="content clearfix">
                          <!--
                      THIS FILE IS NOT USED AND IS HERE AS A STARTING POINT FOR CUSTOMIZATION ONLY.
                      See http://api.drupal.org/api/function/theme_field/7 for details.
                      After copying this file to your theme's folder and customizing it, remove this
                      HTML comment.
                      -->
                      <!-- <div id="slideshow-container" class="parallax-container"
                      data-0="top:67px;"
                      data-200="top:0px;"> -->
                          <div id="slideshow-container">
                            <div class="field field-name-field-project-gallery field-type-image field-label-hidden">
                      	  	  <div class="field-items">
  	    	                      <div class="field-item even">
                                  <div class="flex-nav-container">
                                    <div class="flexslider-content flexslider clearfix" id="flexslider-1">
                                      <ul class="slides">
                                        <li>
                                          <img typeof="foaf:Image" src="https://s3-eu-west-1.amazonaws.com/tomso/Pictures/1.jpg" width="2000" height="1500" alt="" />
                                        </li>
                                        <li>
                                          <img typeof="foaf:Image" src="https://s3-eu-west-1.amazonaws.com/tomso/Pictures/2.jpg" width="2000" height="1500" alt="" />
                                        </li>
                                        <li>
                                          <img typeof="foaf:Image" src="https://s3-eu-west-1.amazonaws.com/tomso/Pictures/3.jpg" width="2000" height="1500" alt="" />
                                        </li>
                                        <li>
                                          <img typeof="foaf:Image" src="https://s3-eu-west-1.amazonaws.com/tomso/Pictures/4.jpg" width="2500" height="1667" alt="" />
                                        </li>
                                        <li>
                                          <img typeof="foaf:Image" src="https://s3-eu-west-1.amazonaws.com/tomso/Pictures/5.jpg" width="2000" height="1500" alt="" />
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                    	    	  </div>
                          	</div>
                          </div>
                        <!--
                        THIS FILE IS NOT USED AND IS HERE AS A STARTING POINT FOR CUSTOMIZATION ONLY.
                        See http://api.drupal.org/api/function/theme_field/7 for details.
                        After copying this file to your theme's folder and customizing it, remove this
                        HTML comment.
                        -->
                        <!-- <div id="body-container" class="parallax-container"
                        data-0="top:100%;"
                        data-200="top:50%;"
                        > -->
                          <div id="body-container">
                          	<div class="content">
                          		<div class="field field-name-body field-type-text-with-summary field-label-hidden">
                    		  		  <div class="field-items">
                    		    		  <div class="field-item even" property="content:encoded">
                                    <p><strong class="emph">Programme :</strong> Création et réalisation d'un commerce</p>
                                    <p><strong class="emph">Maître d'ouvrage :</strong> Maison Fabre</p>
                                    <p><strong class="emph">Site :</strong> Cour des Senteurs - Versailles</p>
                                    <p><strong class="emph">Surface :</strong> 65 m2 SP</p>
                                    <p><strong class="emph">Date :</strong> 2013</p>
                                  </div>
                  		    		  </div>
                          		</div>
                          	</div>
                          </div>
                          <!--
                          THIS FILE IS NOT USED AND IS HERE AS A STARTING POINT FOR CUSTOMIZATION ONLY.
                          See http://api.drupal.org/api/function/theme_field/7 for details.
                          After copying this file to your theme's folder and customizing it, remove this
                          HTML comment.
                          -->
                          <div id="otherprojects-container">
                          	<div class="content">
                          	 <div class="field field-name-field-other-projects field-type-node-reference field-label-above">
                		  		    <div class="field-label">VOIR ETAT EXISTANT & CHANTIER</div>
                		  		      <div class="field-items">
                		    		      <div class="field-item even"><div class="mobile-menu-container" style="text-align:center;">
                                    <div class="close-link" style="position:relative;z-index:100;cursor:pointer;padding:20px 0px;text-align:center;">
                                      <img src="http://www.studioilse.com/sites/all/images/close3.png" style="width:20px;height:auto;position:relative;">
                                    </div>
                                  </div>
                                  <article about="/226-hollywood-road" typeof="sioc:Item foaf:Document" class="node node-project node-published node-not-promoted node-not-sticky author-admin even clearfix" id="node-project-172">
                                    <header>
                                      <h2 property="dc:title" datatype="" class="node-title"><a href="/226-hollywood-road" title="226 HOLLYWOOD ROAD">226 HOLLYWOOD ROAD</a></h2>
                                    </header>
          
                                    <div class="content clearfix">
                                      <!--
                                  THIS FILE IS NOT USED AND IS HERE AS A STARTING POINT FOR CUSTOMIZATION ONLY.
                                  See http://api.drupal.org/api/function/theme_field/7 for details.
                                  After copying this file to your theme's folder and customizing it, remove this
                                  HTML comment.
                                  -->
                                      <div class="field field-name-field-project-cover field-type-image field-label-hidden">
                                        <div class="field-items">
                                          <div class="field-item even">
                                            <a href="/226-hollywood-road">
                                              <img typeof="foaf:Image" src="http://www.studioilse.com/sites/default/files/styles/other_projects/public/Living-Room.jpg?itok=blZ2MZpK" width="300" height="300" alt="" />
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="clearfix">
                                      <nav class="links node-links clearfix"></nav>
                                    </div>
                                  </article>
                                </div>
                                <div class="field-item odd">
                                  <div class="mobile-menu-container" style="text-align:center;">
                                    <div class="close-link" style="position:relative;z-index:100;cursor:pointer;padding:20px 0px;text-align:center;">
                                      <img src="http://www.studioilse.com/sites/all/images/close3.png" style="width:20px;height:auto;position:relative;">
                                    </div>
                                  </div>
                                  <article about="/duddells" typeof="sioc:Item foaf:Document" class="node node-project node-published node-not-promoted node-not-sticky author-admin odd clearfix" id="node-project-170">
                                    <header>
                                      <h2 property="dc:title" datatype="" class="node-title"><a href="/duddells" title="DUDDELL&#039;S">DUDDELL&#039;S</a></h2>
                                    </header>
                                    <div class="content clearfix">
                                          <!--
                                      THIS FILE IS NOT USED AND IS HERE AS A STARTING POINT FOR CUSTOMIZATION ONLY.
                                      See http://api.drupal.org/api/function/theme_field/7 for details.
                                      After copying this file to your theme's folder and customizing it, remove this
                                      HTML comment.
                                      -->
                                      <div class="field field-name-field-project-cover field-type-image field-label-hidden">
                                        <div class="field-items">
                                          <div class="field-item even">
                                            <a href="/duddells">
                                              <img typeof="foaf:Image" src="http://www.studioilse.com/sites/default/files/styles/other_projects/public/duddells_hk_37_0.jpg?itok=GE1ZpDlZ" width="300" height="300" alt="" />
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    
                                    <div class="clearfix">
                                      <nav class="links node-links clearfix"></nav>
                                    </div>
                                  </article>
                                </div>
              		    		      <div class="field-item even">
                                  <div class="mobile-menu-container" style="text-align:center;">
                                    <div class="close-link" style="position:relative;z-index:100;cursor:pointer;padding:20px 0px;text-align:center;">
                                      <img src="http://www.studioilse.com/sites/all/images/close3.png" style="width:20px;height:auto;position:relative;">
                                    </div>
                                  </div>
                                  <article about="/vitrahaus" typeof="sioc:Item foaf:Document" class="node node-project node-published node-not-promoted node-not-sticky author-admin even clearfix" id="node-project-177">
                                    <header>
                                      <h2 property="dc:title" datatype="" class="node-title"><a href="/vitrahaus" title="VITRAHAUS">VITRAHAUS</a></h2>
                                    </header>
                                    <div class="content clearfix">
                                      <!--
                                      THIS FILE IS NOT USED AND IS HERE AS A STARTING POINT FOR CUSTOMIZATION ONLY.
                                      See http://api.drupal.org/api/function/theme_field/7 for details.
                                      After copying this file to your theme's folder and customizing it, remove this
                                      HTML comment.
                                      -->
                                      <div class="field field-name-field-project-cover field-type-image field-label-hidden">
                                        <div class="field-items">
                                          <div class="field-item even">
                                            <a href="/vitrahaus">
                                              <img typeof="foaf:Image" src="http://www.studioilse.com/sites/default/files/styles/other_projects/public/140318_IlseC_VitraArtek_0125_1.jpg?itok=JX7Z-Jkn" width="300" height="300" alt="" />
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    
                                    <div class="clearfix">
                                      <nav class="links node-links clearfix"></nav>
                                    </div>
                                  </article>
                                </div>
                		    		  </div>
                        		</div>
                        	</div>
                        </div>
                      </div>

                      <div class="clearfix">
                        <nav class="links node-links clearfix"></nav>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <aside class="grid-12 region region-sidebar-second" id="region-sidebar-second">
            <div class="region-inner region-sidebar-second-inner"></div>
          </aside>
        </div>
      </div>
    </section>    
  </div>
</body>