/*Header*/
#zone-user {
	margin-top: 1em;
}

#logo {
	text-decoration: none;
	font-size: 2.7em;
	font-family: 'Pacifico', Helvetica, Sans-serif;
	color: black;
	letter-spacing: 0.2em;
}

.menu li a {
	text-transform: uppercase;
}