body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

/*Header*/
#zone-user {
	margin-top: 1em;
}

#logo {
	text-decoration: none;
	font-size: 2.7em;
	color: black;
	letter-spacing: 0.2em;
	display: inline-block;
}

#logo img {
	max-width: 500px !important;
	width: 370px !important;
}

.menu1 {
	margin-left: 84px;
}

#page-title {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	font-size: 2.2em !important; 
}

#page-and {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.emph {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

.menu li a {
	text-transform: uppercase;
}

.field-content a {
	font-size: 2em !important;
}
.field-item p {
	font-size: 1.5em !important;
	margin-bottom: 5px;
}
.field-empty {
	border: 1px solid black;
}
.before-after a {
	font-size: 1.5em !important;
	text-decoration: none;
	font-style: uppercase;
}

.imageProject {
	background: no-repeat center;
	background-size: cover;
}

.progress {
	display: inline;
}

#firstProject {
	background-image: url(https://s3-eu-west-1.amazonaws.com/tomso/5_mini.jpg);
}

#secondProject {
	background-image: url(https://s3-eu-west-1.amazonaws.com/tomso/Pictures/1.jpg);
}

#thirdProject {
	background-image: url(https://s3-eu-west-1.amazonaws.com/tomso/PE.jpg);
}

#fourthProject {
}

#fifthProject {
}
#bottom-picture {
	top: 0px;
}

/*CONTACT*/

.contact {
	margin-top: -100px;
	background: url(https://s3-eu-west-1.amazonaws.com/tomso/Rue+Babylone/rsz_contact_plan_texte_mini.jpg) top left	 no-repeat;
	background-size: cover;
	min-height: 660px !important;
	z-index: 0 !important;
}

.contact-details {
	margin-left: 30px;
	margin-top: 100px;
}

.contact-details h1, .contact-details h2 {
	letter-spacing: 0.2em;
}

/*ABOUT*/
.testNico {
	margin-top: 200px;
}
.who-we-are {
	text-align: justify;
	font-size: 1.6em !important;
	display: inline-block;
	line-height: 1.4em;
	letter-spacing: 0.1em;
	margin-left: 20%;
  margin-right: 20%;
}
.who-we-are-text {
	text-align: justify;
	line-height: 1.4em;
	letter-spacing: 0.1em;
	margin-top: 20px;
	margin-bottom: 200px;
}
.about {
	width: 100%;
}

.row {
	display: inline-block;
	width: 100%;
}
@media screen and (min-width: 1000px)
{
	.col-6 {
		display: inline-block;
		width: 49%;
	}
	.col-left {
		text-align: left;
	}
	.col-right {
		text-align: right;
	}

}
@media screen and (max-width: 1000px)
{
	.col-6 {
		display: inline-block;
		width: 100%;
		margin-top: 10px;
	}
	.col-left {
		text-align: center;
	}
	.col-right {
		text-align: center;
	}

}
.col-6 p {
	margin-bottom: 2px !important;
}